@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap");

body {
  background-color: #f0f0f0;
}

.root {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 95vh;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  background-color: #f0f0f0;
  padding: 2rem 4rem 0 4rem;
}

@media screen and (max-width: 768px) {
  .root {
    padding: 2rem 1rem 0;
  }
}
