@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Anton|Staatliches&display=swap");

.root {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto Condensed", sans-serif;
}
