.root {
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
  padding: 0.25rem;
  z-index: 999;
}

.textInput {
  width: inherit;
  height: 3.25rem;
  padding: 0.5rem;
  background-color: #e7e7e7;
}

.textInput:focus {
  border: 1.5px solid #f8f9fa;
  box-shadow: none;
  background-color: #ffffff;
}
