.root {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.typingIndicator {
  color: #ffffff;
  font-size: 0.75rem;
  align-self: flex-start;
  padding: 0 0 0 1rem;
  margin: 0;
}

.inputGroup {
  padding: 0.25rem;
  z-index: 999;
}

.textInput {
  width: inherit;
  height: 3.25rem;
  padding: 0.5rem;
  background-color: #e7e7e7;
}

.textInput:focus {
  border: 1.5px solid #f8f9fa;
  box-shadow: none;
  background-color: #ffffff;
}
