.root {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 0.25rem 1rem;
  margin: 0.5rem 0.25rem;
  background-color: transparent;
  font-family: "PT Sans", sans-serif;
}

.userMessageBubble {
  align-items: flex-end;
  align-self: flex-end;
}
.userMessageBubble::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  height: 2.8rem;
  width: 4px;
  background-color: #e4cd66;
}

.remoteMessageBubble {
  align-self: flex-start;
  align-items: flex-start;
  background-color: #aee6ff;
  border-radius: 0rem;
}

.remoteMessageBubble p {
  color: #353535;
}

.remoteUserMessageBubble {
  align-self: flex-start;
  align-items: flex-start;
  background-color: transparent;
}

.remoteUserMessageBubble::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  height: 2.8rem;
  width: 4px;
  background-color: #fafafa;
}

.userNameText {
  margin: 0.1rem;
  color: #b3b6b8;
}

.messageText {
  margin: 0.1rem;
  color: #f0f0f0;
}
