.root {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 2px 24px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  width: fit-content;
  padding: 0.25rem 1rem;
  margin: 0.5rem 0.25rem;
  align-items: flex-end;
  align-self: flex-end;
  background-color: #fff4ae;
  font-family: "PT Sans", sans-serif;
}

.remoteMessageBubble {
  align-self: flex-start;
  align-items: flex-start;
  background-color: #aee6ff;
  border-radius: 0rem;
}

.remoteUserMessageBubble {
  align-self: flex-start;
  align-items: flex-start;
  background-color: #fafafa;
}

.userNameText {
  margin: 0.1rem;
  color: #5c5c5c;
}

.messageText {
  margin: 0.1rem;
}
