.root {
  display: flex;
  flex-direction: column;
  place-content: space-evenly;
  min-width: 20rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 2px 24px rgba(0, 0, 0, 0.05);
  padding: 4rem;
}

.root a:focus,
a:visited {
  outline: none;
}

.submitButton {
  width: 20rem;
  display: inline-block;
  padding: 0.75rem;
  border: 0.05rem solid #2167ff;
  margin: 1rem 0;
  border-radius: 0.12rem;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  font-size: 1rem;
  background: #ffffff;
  text-align: center;
  transition: all 0.2s;
}
.submitButton:hover:enabled {
  color: #ffffff;
  background-color: #2167ff;
}
.submitButton:focus,
.submitButton:visited {
  outline: none;
}

.submitButtonDisabled {
  background: #666666;
  border: 0.05rem solid #666666;
  color: #cacaca;
}

.errorMessage {
  color: #ff838d;
}

@media all and (max-width: 30rem) {
  .submitButton {
    display: block;
    margin: 0.5rem auto;
  }
}
