.root {
  min-width: 12rem;
  background-color: #fafafa;
  position: relative;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.root::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.root {
  -ms-overflow-style: none;
}

.root a {
  text-decoration: none;
  color: #ffffff;
}

.panelHeader {
  padding: 1rem;
  font-size: 1rem;
  background-color: #45a600;
  color: #ffffff;
}

.panelListItem {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 2px 24px rgba(0, 0, 0, 0.05);
}

.panelListItem > i {
  font-size: 1.5rem;
  line-height: 2 !important;
}

.userName {
  align-self: center;
  margin: auto 0.75rem;
}

.root a .panelFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 1rem 0;
  margin: auto;
  background: #a00000;
}

@media screen and (max-width: 768px) {
  .root {
    display: none;
  }
}
