.root {
  min-width: 12rem;
  background-color: #fafafa;
  position: relative;
}

.root a {
  text-decoration: none;
  color: #ffffff;
}

.panelHeader {
  padding: 1rem;
  font-size: 1rem;
  background-color: #45a600;
  color: #ffffff;
}

.panelListItem {
  margin: 1rem;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 2px 24px rgba(0, 0, 0, 0.05);
}

.root a .panelFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 1rem 0;
  margin: auto;
  background: #a00000;
}
